* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.landing-page {
    height: 750px;
    background-image: url('https://imgur.com/i1eFM2N.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.landing-logo {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse-click {
    margin-top: 200px;
    
}
#mouse-click1 {
  animation: bounce 2s infinite;
}

.about-services {
    background-image: url('https://imgur.com/LvKtbkb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 15px;
    
}
#section-services {
  background-color: rgba(0,0,0,0.4);
  padding-top: 10%;
  padding-bottom: 10%;
  
}
#design {
    cursor: pointer;
}
#design-text {
    display: none;
}
#development {
cursor: pointer
}
#development-text {
    display: none;
}
#product {
    cursor: pointer;
}
#product-text {
    display: none;
}

.service-tasks {
    padding: 40px;
}
.portfolio {
    padding: 30px;
}
.our-portfolio img{
    height: 100%;
    width: 100%
}
.our-portfolio2 img {
    height: 100%;
    width: 100%
}
#black-studio {
    position: relative;

}
.text1 {
    position: absolute;
    display: none;
}
#ontario {
    position: relative;
}
.text2 {
     position: absolute;
    display: none;
}
#pyramids {
    position: relative;
}

.text3 {
    position: absolute;
    display: none;
}
#jim-carry{
    position: relative;
}
.text4 {
    position: absolute;
    display: none;
}
#nice-day {
    position: relative;
}
.text5 {
    position: absolute;
    display: none;
}
#calculator {
    position: relative;
}
.text6 {
    position: absolute;
    display: none;
}
#burned {
    position: relative;
}
.text7 {
    position: absolute;
    display: none;
}
#giraffe {
    position: relative;
}
.text8 {
    position: absolute;
    display: none;
}

.contact-us {
    background-image: url('https://imgur.com/vY4k2Cv.jpg');
    height: 500px;
    color: white
}
.contact-us h3 {
    text-align: center;
}
.btn {
    margin-left: 170px;
    margin-top: 20px;
}

input[type=text],input[type=email] {
  background: transparent;
  color: white;
  font-size: 20px;
  width: 80%;
}

#message {
    background: transparent;
    width: 150%;
    color: white;
}
footer {
    text-align: center;
}

