
.landing-page {
    height: 750px;
    background: red;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.landing-logo {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse-click {
    margin-top: 200px;
}

.about-services {
    background-image: url('https://imgur.com/LvKtbkb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 15px;
    
}
#section-services {
  background-color: rgba(0,0,0,0.4);
  padding-top: 10%;
  padding-bottom: 10%;
  
}
.service-tasks {
    padding: 40px;
}
#portfolio {
    margin: 20px;
}
.contact-us {
    background: grey;
    height: 500px;
    color: white
}
.contact-us h3 {
    text-align: center;
}


input[type=text],input[type=email] {
  background: transparent;
  color: white;
  font-size: 20px;
  
}
